<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Task Folder name
    </h1>

    <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task folder name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/tasks">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createTasks(listTitleInput.value)">Create</button>
    </div>
  </div>
</div>