
<div class="centered-content">
  <div class="modal-box">
        <div class="container ">
          <div class="columns has-text-centered">
            <div class="column is-one-third">
              <br><br><br>
              <p class="title is-2 ">
                Let's get Started
                </p>  
                
                <p class="subtitle ">
                  Your Griffith College To-do Task 
                </p>
                <div class="buttons">
      
                  <a class="button is-danger is-outlined is-medium is-fullwidth" routerLink="/register">
                    <strong>Register</strong>
                  </a>
                  <a  class="button is-outlined is-medium is-fullwidth"  routerLink="/login">
                          Log in
                        </a>
                </div>
            </div>
            <div class ="column is-two-thirds">
              <img  src="../assets/img/task.svg"/>
           </div>
          </div>
        </div>
      </div>
  </div>
